::-webkit-scrollbar {
    display: none;
}

.main-section {
    background-color: #f1f1f1;
}


.nav-bg-pinky {
    background-color: #CFB6B6;
}

.footer-pink {
    background-color: #EC9999;
}

.btn-gray{
    background-color: lightgrey;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

#image-header {
    display: block;
    justify-content: center;
    height: 40vh;
    align-items: center;
    background: url("../media/Headimg.png") 0px 0px/auto no-repeat fixed;
}

.colom{
    padding: 60px;   
}

.bg-grayish {
    background-color: #F6F6F6;
}

.bg-graydarker {
    background-color: #EBEBEB;
}

.bg-graydarker:hover {
    background-color: #e4e4e4;
}

.hoverable {
    opacity: 0.5;
    transition: all 1s;
}

.hoverable:hover {
    opacity: 1;
    scale: 1.1;
    filter: none;
}

.full {
    height: 75vh;
}

.text-pinky {
    color: #F88888;
}

.btn-yellowish {
    background-color: #FBBD23;
}

.bg-pinkyish {
    background-color: #F88888;
}

.pb-10 {
    padding-bottom: 5em;
}

.pb-8 {
    padding-bottom: 3em;
}

.bg-grayishcard {
    background-color: #F5F5F5;
}

